/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Mali', cursive;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 910px) {
  html {
    font-size: 12px;
  }
}

/* Atomic css */
.wh-100 {
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-ver {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
